name: (Reuse) Formatting check

on:
  workflow_call:
    inputs:
      gitref:
        required: true
        type: string
      os:
        required: false
        type: string
        default: 'ubuntu-24.04'
      pyver:
        required: false
        type: string
        default: '3.11'

jobs:
  format:
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.gitref }}
          fetch-depth: 0

      - name: Linting and import sort
        uses: chartboost/ruff-action@v1
        with:
          args: 'check --fix'

      - name: Code formatting
        uses: chartboost/ruff-action@v1
        with:
          args: 'format'

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.pyver }}
          cache: 'pip'

      - name: Install python packages
        run: >
          pip install --progress-bar=off
          tox
          pytest
          iso3166

      - name: Type checker validation on source
        run: >
          tox run-parallel
          --parallel-no-spinner -v
          -e mypy,pyright

        # upstream workflow requires both permissions:
        # {pull-requests: write, contents: write}
      - uses: peter-evans/create-pull-request@v7
        with:
          branch: create-pull-request/format
          delete-branch: true
          title: 'Automated formatting changes'
          commit-message: 'style: automated formatting'
          labels: bot
          sign-commits: true
          body: >
            Automated formatting on ${{ inputs.gitref }} by
            [ruff-action](https://github.com/ChartBoost/ruff-action) and
            [create-pull-request](https://github.com/peter-evans/create-pull-request)
