name: Manual type check

on:
  workflow_dispatch:

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        py:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
        os:
          - 'ubuntu-24.04'
        tox-uv:
          - '1.29.0'
        tox-ver:
          - '4.32.0'
        include:
          - py: '3.8'
            os: 'ubuntu-24.04'
            tox-uv: '1.13.1'
            tox-ver: '4.24.1'
          - py: '3.9'
            os: 'ubuntu-24.04'
            tox-uv: '1.28.1'
            tox-ver: '4.30.3'
    uses: ./.github/workflows/typecheck_inc.yml
    with:
      gitref: ${{ github.ref }}
      os: ${{ matrix.os }}
      pyver: ${{ matrix.py }}
      tox-uv: ${{ matrix.tox-uv }}
      tox-ver: ${{ matrix.tox-ver }}
