name: (Reuse) Type check

on:
  workflow_call:
    inputs:
      gitref:
        required: true
        type: string
      os:
        required: true
        type: string
      pyver:
        required: true
        type: string
      tox-uv:
        required: true
        type: string

jobs:
  typechk:
    name: typechk ${{ inputs.pyver }}/${{ inputs.os }}
    runs-on: ${{ inputs.os }}
    steps:
    - uses: actions/checkout@v5
      with:
        ref: ${{ inputs.gitref }}

    - uses: astral-sh/setup-uv@v7
      with:
        version: '0.9.8'
        python-version: ${{ inputs.pyver }}
        cache-dependency-glob: |
          ./pyproject.toml

    - name: Local type check
      run: >
        uvx
        -p ${{ inputs.pyver }}
        --python-preference only-managed
        --with tox-uv==${{ inputs.tox-uv }}
        tox@4.24.1 run-parallel
        --parallel-no-spinner -v
        -e mypy,pyright
